<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hgb_one.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>34</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
				<key>dateExpires</key>
				<string>2025/5/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>10.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>add_2_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_exif_rotation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>soundpool.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C847BDDD38EBEE23C0C0863329C2012FAD2F266</string>
						<key>dateExpires</key>
						<string>2025/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N34S2Z42HU</string>
						<key>name</key>
						<string>Tom Lai</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N34S2Z42HU.com.robinstech.app.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:hgbsys.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>N34S2Z42HU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a9756631-52e4-4f7f-94d0-70e30d920203</string>
				<key>dateExpires</key>
				<string>2025/5/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.robinstech.app.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N34S2Z42HU</string>
				<key>name</key>
				<string>Tom Lai</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.9</string>
		</dict>
	</array>
</dict>
</plist>
